### Application Configuration ###
**/application.properties
**/application.yaml

### RSA Encryption ###
certs/

### PowerShell Scripts ###
*.ps1

### SQL Scripts ###
*.sql

### PEM files ***
*.pem

### Maven Projects Resources ###
resources/

security fix
